.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  &__input {
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    width: 30rem;
    height: 4rem;

    &::placeholder {
      color: #b1b1b1;
    }
  }

  &__submitBtn {
    margin-top: 2rem;
  }
}
